---
import SideNav from "../../../layouts/SideNav.astro";
import TextEditor from "../../../components/react/components/TextEditor.jsx"


const { slug } = Astro.params;
const req = await fetch(
  `https://di10dsxzc6.execute-api.us-east-1.amazonaws.com/blogPost/${slug}`
);
const post = await req.json();

let setUpSlug = !slug ? "index" : slug;
---

<SideNav>
	
  <h1>{post.postTitle}</h1>
  <TextEditor title={post.postTitle} content={JSON.stringify(post.content)} client:load />
  
</SideNav>
