---
import AllPosts from "../../components/react/components/AllPosts.jsx";
import SideNav from "../../layouts/SideNav.astro";
---

<SideNav title="All Posts">
  <main>
    <AllPosts client:load />
  </main>
</SideNav>
