---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";

const allBlogPosts = await getCollection("blog");
console.log(allBlogPosts);
---

<script src="https://unpkg.com/taichi.js/dist/taichi.umd.js"></script>
<Layout title="All dem posts">
  <main>
    {
      allBlogPosts.map((post, i) => {
        const { title, tags, body, thumbImage } = post.data;
        return (
          <div class="h-auto w-3/4 sm:w-1/2 bg-black m-auto p-8 border-2 border-white rounded-xl hover:invert">
            <div class="flex">
              <image src={thumbImage.image} width="50" alt={thumbImage.alt} />
              <div>
                <h1 class="text-white font-bold">{title}</h1>
                <div class="flex my-2 gap-2">
                {tags.map((tag: any)=>{
                  return(
                    <div class="flex bg-red-500 text-sm text-center align-middle  py-1 px-2 rounded-full ">
                      <h1 >{tag}</h1>
                    </div>
                  )          
              })}
              </div>  
              </div>
              
              
              <h1 class="text-white font-bold absolute ">{}</h1>
            </div>
          </div>
        );
      })
    }
  </main>
</Layout>


