---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LandingPage from "../components/react/LandingPage.jsx";
---

<Layout title="Welcome to Astro.">
  <main>
    <LandingPage client:load />
  </main>
</Layout>

<style>
  main {
    height: 100vh;
    width: 100vw;
  }
</style>
