---
import Layout from "../layouts/Layout.astro";
import Login from "../components/react/components/login.jsx";
console.log(import.meta.env);
---

<script src="https://unpkg.com/taichi.js/dist/taichi.umd.js"></script>
<Layout title="Welcome to Astro.">
  <main>
    <Login client:load />
  </main>
</Layout>

<style></style>
